.my-form-container{
    margin: 120px auto;
    width: 500px;
    align-content: center;
    border-style: groove;
    border-radius: 15px;
    padding: 40px 50px;
    background-color: rgba(153, 191, 235, .5);
}

.my-login-form-container{
    margin: 65px auto;
    width: 400px;
    align-content: center;
    padding: 40px 50px;
}

.mycontainer{
    margin-top: 50px;
    padding: 30px 0px;
    text-align: center;
    background-color: beige;
    border-radius: 10px;
}

.goals-block{
    float: left;
    width: 50%;
    height: auto;
    margin-left: 40px;
}

.info-block{
    float: right;
    width: 45%;
    height: auto;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-style: solid;
    padding: 0% 6%;
}

.my-user-intro{
    padding: 10px 20px 0px 0px;
    text-align: right;
    background-color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.add-goal{
    width: fit-content;
    margin-top: 20px;
}

.each-goal-block{
    padding: 3px 12px;
}

.each-goal-block:nth-child(odd){
    background-color: beige;
}

.each-goal-block:nth-child(even){
    background-color: cyan;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}