#achievement-design{
    border-style: outset;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    background-color: mediumspringgreen;
    float: left;
    margin: 10px;
    padding: 2px 10px;
    font-family: cursive;
    font-size: larger;
}

#achievement-id{
    margin: 75px;
}