{% extends "html_base_page.html" %}

{% block content %}

{% if user.is_authenticated %}

    <div class="my-user-intro">
        <a href = "{% url 'profile_home' %}" style="float: left;"><h4>Back to home</h4></a>
        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        <!-- <h3 style = "color: rgb(137, 137, 139);">{{ user_info.reward }}</h3> -->
    </div>

    <form action="my_diet" method="POST">
        {% csrf_token %}
        <input type="text" name="food_name" placeholder="Add Food" required>
        <input type="number" name="quantity" placeholder="Quantity(in grams)" required>
        <input type="submit" value="Go">
    </form>

{% endif %}

{% endblock %}