{% extends 'html_base_page.html' %}

{% block content %}

<style>
    body {
        background-image: url('/static/pictures/fitness.jpg');
        background-size: contain;
      }
</style>

<div class="container">
    <div class="my-form-container">
        <form action = "register" method="POST">
            {% csrf_token %}
            <div class="form-group">
                Username
                <input type="text" class="form-control my-form" name="user_name" placeholder=" Enter Username" required>
                First Name
                <input type="text" class="form-control my-form" name="first_name" placeholder="Input First Name" required>
                Last Name
                <input type="text" class="form-control my-form" name="last_name" placeholder="Input Last Name" required>
                Email Address
                <input type="email" class="form-control my-form" name="email" placeholder="Enter Email address" required>
                New Password
                <input type="password" class="form-control my-form" name="pass1" placeholder="Enter Password" required>
                Confirm Password
                <input type="password" class="form-control my-form" name="pass2" placeholder="Confirm Password" required><br>
                <input class="btn btn-primary" type="submit">
        </form>
    </div>
</div>

{% endblock %}